---
import DeleteTask from "../components/DeleteTask.astro";
import EditTask from "./EditTask.astro";

interface TaskProps {
  id: string;
  title: string;
  description: string;
  completed: boolean;
}

const { id, title, description, completed } = Astro.props as TaskProps;
---

<div class="p-4 bg-white rounded-lg shadow border border-gray-200">
  <div class="px-4">
    <div class="flex justify-between">
      <span
        class={`text-xs px-2 py-2 rounded-full ${completed ? "bg-green-100 text-green-800" : "bg-red-100 text-red-800"}`}
      >
        <span>{completed ? "Completed" : "Pending"}</span>
      </span>
      <!-- Botones de accion -->
      <span class="flex justify-end space-x-2">
        <EditTask {id} {title} {description} {completed} />
        <DeleteTask {id} {title} />
      </span>
    </div>
    <div class="text-center pt-3">
      <h1 class="text-lg font-semibold text-gray-900">{title}</h1>
      <p class="text-sm text-gray-500">{description}</p>
    </div>
  </div>
</div>
